<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Document</title>
</head>
<body>
<div class="container">

    <a href="/" class="logo">
        <img src="images/logo.png" alt="NAFT logo" class="NAFT_logo">
    </a>

    <div class="header-right">

        <div class="header-nav-wrapper">

            <button class="navbar-toggle-btn" data-navbar-toggle-btn>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <nav class="navbar" data-navbar>

                <ul class="navbar-list">

                    <li>
                        <a href='/' class="navbar-link">Home</a>
                    </li>

                    <li>
                        <a href="About" class="navbar-link">About</a>
                    </li>

                    <li>
                        <a href="Prices" class="navbar-link">Prices right now</a>

                    <li>
                        <a href="Contact" class="navbar-link">Contact</a>
                    </li>

                </ul>

            </nav>

        </div>

        <div class="header-actions">
            <input type="search" placeholder="Search" class="search-field">

            <button class="btn btn-primary">Sign in</button>
        </div>

    </div>

</div>

<li>
    <a href="https://github.com/SmagulLK" class="social-link"id="git">
        <ion-icon name="logo-github">Git</ion-icon>
    </a>
</li>

<li>

</li>

<li>
    <a href="https://www.instagram.com/lkkllkkllkkllkkllkkl" class="social-link"id="inst">
        <ion-icon name="logo-instagram">inst</ion-icon>
    </a>
</li>

<li>
    <a href="https://www.youtube.com/channel/UCqFn0pXkHbAGv15XGue_W5A" class="social-link" id="yt">
        <ion-icon name="logo-youtube">YT</ion-icon>
    </a>
</li>

<style>
    .NAFT_logo{
        margin-top: 30px;
    }
    #git{
       background: darkslategray;


    }
    #yt {
        background: crimson;
    }
    #inst {
    background: darksalmon;
    }
    .header-actions{
        margin-top: -50px;
    }


    }
    .navbar li{
        margin-top: -90px;
    }
    .social-link{
        border-radius: 0%;
        width: 33%;
        text-align: center  ;
        text: center;
        height: 600px;
        float:left;
        margin:0%;
        color: white;

    }



</style>
</body>
</html>
